                                        <div class="row sidebar-box purple">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <div class="sidebar-box-heading">
                                                                <i class="icons icon-folder-open-empty"></i>
                                                                <h4>Categories</h4>
                                                        </div>
                                                        <div class="sidebar-box-content">
                                                            {{ knp_menu_render('sylius.frontend.taxonomies', {'template': 'SyliusWebBundle:Frontend:category_menu.html.twig'}) }}
                                                        </div>
                                                </div>
                                        </div>
