                                        <div class="row sidebar-box blue">
                                                
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                        
                                                        <div class="sidebar-box-heading">
                                <i class="icons icon-docs"></i>
                                                                <h4>Compare Products</h4>
                                                        </div>
                                                        
                                                        <div class="sidebar-box-content sidebar-padding-box">
                                                                <p>You have no products to compare.</p>
                                                        </div>
                                                        
                                                </div>
                                                
                                        </div>
