                                        <div id="main-header">
                                                <div class="row">
                                                        <div id="logo" class="col-lg-4 col-md-4 col-sm-4">
                                                                <a href="/"><img src="/img/logo.png" alt="Logo"></a>
                                                        </div>
                                                        <nav id="middle-navigation" class="col-lg-8 col-md-8 col-sm-8">
                                                                <ul class="pull-right">
                                                                  <li>
                                                                              <a class="flag" href="#"><span class="english-flag"></span>English</a>
                                                                              <ul class="box-dropdown parent-arrow">
                                                                                        <li>
                                                                                          <div class="box-wrapper no-padding parent-border">
                                                                                            <table class="language-table">
                                                                                              <tr>
                                                                                                <td class="flag"><span class="english-flag"></span></td>
                                                                                                <td class="country"><a href="#">English</a></td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td class="flag"><span class="german-flag"></span></td>
                                                                                                <td class="country"><a href="#">German</a></td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td class="flag"><span class="french-flag"></span></td>
                                                                                                <td class="country"><a href="#">French</a></td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td class="flag"><span class="italian-flag"></span></td>
                                                                                                <td class="country"><a href="#">Italian</a></td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td class="flag"><span class="spanish-flag"></span></td>
                                                                                                <td class="country"><a href="#">Spanish</a></td>
                                                                                              </tr>
                                                                                            </table>
                                                                                          </div>
                                                                                        </li>
                                                                                </ul>
                                                                        </li>
                                                                        {{ knp_menu_render('sylius.frontend.currency', {'template': 'SyliusWebBundle:Frontend:currency.html.twig'}) }}

                                                                </ul>
                                                        </nav>

                                                </div>

                                        </div>
