                        <!-- News -->
                        <div class="products-row row">
                                <!-- Carousel Heading -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="carousel-heading">
                                                <h4>Latest news &amp; Reviews</h4>
                                                <div class="carousel-arrows">
                                                        <i class="icons icon-left-dir"></i>
                                                        <i class="icons icon-right-dir"></i>
                                                </div>
                                        </div>
                                </div>
                                <!-- /Carousel Heading -->
                                <!-- Carousel -->
                                <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
                                    <div class="owl-carousel" data-max-items="2">
                                      {% for i in 1..3 %}
                                        {{ sonata_block_render({'name': '/cms/blocks/block-' ~ i}) }}
                                      {% endfor %}
                                     </div>
                                </div>
                                <!-- /Carousel -->
                        </div>
