                                        <div class="row sidebar-box green">
                                                
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                        
                                                        <div class="sidebar-box-heading">
                                <i class="icons icon-tag-6"></i>
                                                                <h4>Tags Cloud</h4>
                                                        </div>
                                                        
                                                        <div class="sidebar-box-content sidebar-padding-box">
                                                                <a href="#" class="tag-item">digital camera</a>
                                                                <a href="#" class="tag-item">lorem</a>
                                                                <a href="#" class="tag-item">gps</a>
                                                                <a href="#" class="tag-item">headphones</a>
                                                                <a href="#" class="tag-item">ipsum</a>
                                                                <a href="#" class="tag-item">laptop</a>
                                                                <a href="#" class="tag-item">smartphone</a>
                                                                <a href="#" class="tag-item">tv</a>
                                                        </div>
                                                                
                                                </div>
                                                
                                        </div>
